[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim
