[global_config]
  title_transmit_bg_color = "#080086"
  focus = system
[keybindings]
[profiles]
  [[default]]
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#1e90ff:#cd00cd:#00cdcd:#e5e5e5:#4c4c4c:#ff0000:#00ff00:#ffff00:#4682b4:#ff00ff:#00ffff:#ffffff"
    visible_bell = True
    background_darkness = 0.74
    scrollback_lines = 2000
    background_type = transparent
    scrollbar_position = hidden
    cursor_color = "#ffffff"
    foreground_color = "#ffffff"
    scroll_on_output = False
    icon_bell = False
    show_titlebar = False
    cursor_blink = False
  [[darker bg]]
    scrollbar_position = hidden
    visible_bell = True
    background_darkness = 0.93
    background_type = transparent
    cursor_color = "#ffffff"
    foreground_color = "#ffffff"
    icon_bell = False
    show_titlebar = False
    cursor_blink = False
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
  [[htop]]
    [[[child0]]]
      position = 0:0
      type = Window
      order = 0
      parent = ""
      size = 1920, 1200
    [[[terminal1]]]
      profile = darker bg
      command = htop
      type = Terminal
      order = 0
      parent = child0
[plugins]
